.informations-principale{
    background-color: #555557;
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
}

.titre-infos{
    text-align: center;
}