body{
	font-family: sans-serif;
	background-color: #191a1f;
	color: white;
}
p{ font-size: 20px; }
.text-intro{
	text-align: center;
	margin-bottom: 40px;
	margin-top: 40px;
}

nav{
	width: 100%;
	background-color: black;
}
nav ul{
	padding: 0px;
	margin: 0px;
	/*Pour éviter la fusion de texte dû au float right*/
	overflow: hidden;
}
nav li{
	list-style-type: none;
	float: right;
}
nav a{
	display: inline-block;
	text-decoration: none;
	padding: 20px 30px;
	color: red;
}
.img-article{ 
	height: 320px; 
	width: auto;
}
.text-section{ text-align:center; }
.article{
	width: 100%;	
	height: 320px;
	margin-top: 50px;
	border-width:2px;
	border-color:white;
}
.bloc-text{
	text-align: center;
}
#text-droite{ padding-right: 50px;
	padding-right: 20px;
	padding-top: 200px;

}
#text-gauche{ padding-right: 50%;
	padding-left: 20px;
	padding-top: 200px;
  }

#image-gauche{ display:inline-block; padding-left: 10px;}
#image-droite{ display:inline-block; padding-left: 10px;}

.principal-title{
	text-align: center;
	padding-top: 110px;
	padding-bottom: 30px;
	font-size: 50px;
}
.other-title{
	font-size: 30px;
	text-align: center;
	padding-top: 50px;
}
.selection-option{
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 25px;
	clear: both;
}
.menu{
	position: fixed;
	top: 0%;
}
